.select-form {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #4a4949;
  background-color: transparent;
  color: #ffffff;
  appearance: none;
}

.select-form .theme-options {
  background-color: #4a4949;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
  text-transform: capitalize;
}
