.select-form {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #4a4949;
  background-color: transparent;
  color: #ffffff;
}
